# ==================================
# JobForge Environment Configuration
# ==================================

# MySQL Root Password (используется docker-compose.yml)
MYSQL_ROOT_PASSWORD=root

# phpMyAdmin Configuration (используется docker-compose.yml)
PMA_HOST=mysql-job-forge

# MySQL Database Configuration (используется только PHP приложением)
# База и пользователь создаются вручную через PhpStorm или init.sql
#MYSQL_HOST=mysql-job-forge
#MYSQL_PORT=3306
#MYSQL_DATABASE=job-forge-db
#MYSQL_USER=vlavlamat
#MYSQL_PASSWORD=your_secure_password_here
