# ==================================
# JobForge Environment Configuration
# ==================================

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=job-forge-db
MYSQL_USER=vlavlamat
MYSQL_PASSWORD=password

# phpMyAdmin Configuration
PMA_HOST=mysql-job-forge
